<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/searches/new">
            <fieldset>Search for Book by Author or Title</fieldset>
            <label for="Author"></label>
            <input type="text" name="Author">
            <label for="Title"></label>
            <input type="text" name="Title">
            <input type="Submit">
        </form>
    </main>
</body>
</html>