<!-- Top Navigation Menu -->
<div class="topnav">
    <a href="/" class="active"><img class="logo" src="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" alt="Home"></a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a href="/">Home</a>
      <a href="/searches/new">Search</a>
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>